.photosArea{
    margin: auto;
    display: grid;
    width: 80%;
    align-items: center;
    grid-template-columns: repeat(6, auto);
    
}

.photoArea{
    display: flex;
    width: 100%;
    height: 100%;
}

.photoCube{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: rgb(17, 17, 17);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    margin: 10px;
    border: 2px solid rgb(29, 29, 29);
    cursor: pointer;
    transition: 0.1s;
}

.photoCube:hover{
    border: 2px solid #FFF;
    transform: scale(1.05);
}