.albumArea{
    background-color: rgb(17, 17, 17);
    border: 2px solid rgb(54, 54, 54);
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 5px 5px 15px #000;
    border-radius: 15px;
}

.albumArea:first-child{
    margin-top: 20px;
}

.albumArea:hover{
    transform: scaleY(1.1);
    border: 2px solid #FFF
}